@import 'reset.css';
@import 'fonts/all.css';
@import 'components/layout/all.css';
@import 'components/menu/all.css';
@import 'components/form/all.css';
@import 'components/auth/all.css';

:root {
    --box-shadow: drop-shadow(8px 8px 10px #ddd);
    --box-tiny-shadow: drop-shadow(4px 4px 5px #ddd);
    --box-default-background: #eee;
}