html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    outline: none;
    padding: 0;
    margin: 0;
}

label:hover {
    cursor:pointer;
}

details > * {
    padding-left: 2em;
    padding-right: 2em;
}

details summary {
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
}

details p,
details ul {
    margin-top: 1em;
}