:root {
    --menu-accessible-height: 44px;
}

.menu-nav {
    --menu-active-background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menu-nav .nav-item {
    display: inline-block;
    appearance: button;
    box-sizing: content-box;
    height: var(--menu-accessible-height);
    line-height: var(--menu-accessible-height);
    background: none;
    padding-bottom: .4em;
    padding-top: .4em;
    padding-left: 2em;
    padding-right: 2em;
    color: #aaa;
    font-family: var(--font-family-sans);
    font-size: .9em;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}

/* submit buttons as menu items */

.menu-nav form.form,
.menu-nav form.form fieldset,
.menu-nav form.form button.nav-item.framed {
    box-sizing: border-box;
}

.menu-nav form.form,
.menu-nav form.form fieldset {
    height: var(--menu-accessible-height);
    line-height: var(--menu-accessible-height);
}

.menu-nav form.form,
.menu-nav form.form fieldset,
.menu-nav form.form button.nav-item {
    height: 100%;
    margin: 0;
}

.menu-nav form.form button.nav-item {
    width: 100%;
}

.menu-nav form.form button.nav-item.framed {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* focus, hover */

.menu-nav .nav-item:focus,
.menu-nav .nav-item:hover {
    background: var(--box-default-background);
    color: black;
    filter: var(--box-tiny-shadow);
    border-radius: .2em;
    outline: none;
}

@media only screen and (min-width: 512px) {
    .menu-nav {
        flex-direction: row;
        justify-content: center;
    }
}