:root {
    --font-base-size: 18px;
}

body {
    font-size: var(--font-base-size);
}

h1 {
    font-size: calc(2.5 * var(--font-base-size));
    font-weight: 600;
}

h2 {
    font-size: calc(2 * var(--font-base-size));
    font-weight: 400;
}

h3, h4, h5, h6, legend {
    font-size: calc(1.5 * var(--font-base-size));
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, legend, summary {
    margin: 0;
    margin-bottom: 0.618em;
}

input, textarea {
    font-size: calc(1.25 * var(--font-base-size));
    width: 100%;
    font-weight: 400;
}

summary {
    font-size: calc(1.25 * var(--font-base-size));
    color: #aaa;
    font-weight: 600;
}

button {
    font-size: var(--font-base-size);
    font-weight: 600;
}

@media only screen and (min-width: 512px) {
    :root {
        --font-base-size: 24px;
    }
}
