.layout-admin {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.layout-admin nav.global-menu {
    align-self: center;
}

@media (min-width: 512px) {
    .layout-admin nav.global-menu {
        align-self: flex-end;
    }    
}

.layout-admin nav,
.layout-admin footer {
    padding-left: 1em;
    padding-right: 1em;
}

.layout-admin main {
    padding-left: 3em;
    padding-right: 3em;
    min-width: 256px;
    max-width: 1024px;
}

.layout-admin nav,
.layout-admin footer {
    display: flex;
    flex-direction: row;
    min-height: 2em;
    align-items: center;
}

.layout-admin nav {
    justify-content: end;
}

.layout-admin footer {
    justify-content: center;
}