html {
    height: 100%;
    overflow-y: scroll;
}

.layout-admin {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 0;
    margin: 0;
    border-bottom: none;
    align-items: center;
}

.layout-admin .app-menu {
    background-color: black;
    color: white;
}

.layout-admin .main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: calc(var(--menu-accessible-height) + 4em) 2em 2em 2em;
}

.layout-admin .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* media queries */

@media only screen and (min-width: 768px) {
    .layout-admin .main {
        margin: calc(var(--menu-accessible-height) + 6em) 4em 4em 4em;
    }
}