.layout-clear {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.layout-clear main {
    padding: 1.5em;
}
