.auth-two-factor-toggle-form :is(h1, h2, h3, h4, h5, h6, legend) {
    margin-top: 0;
}

.auth-two-factor-toggle-form {
    padding: 2em;
    background: var(--box-default-background);
    border-radius: .5em;
    filter: var(--box-shadow);
}
