.auth-two-factor-qr-code {
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 2em;
    background: var(--box-default-background);
    border-radius: .5em;
    filter: var(--box-shadow);
}

.auth-two-factor-qr-code .description {
    width: 100%;
}

.auth-two-factor-qr-code .code {
    width: 208px;
    height: 208px;
    background: white;
    border: 4px solid black;
    border-radius: .5em;
    padding: 4px;
    align-self: center;
}

.auth-two-factor-qr-code :is(h1, h2, h3, h4, h5, h6, legend) {
    margin-top: 0;
}

@media only screen and (min-width: 768px) {
    .auth-two-factor-qr-code {
        flex-direction: row;
        justify-content: space-between;
    }

    .auth-two-factor-qr-code .description {
        width: 75%;
    }    
}